.todolistContainer {
    border: 1px solid blue;
    margin: 10px;
    .titleTodolistContainer {
        border: 1px solid red;
    }

    .filterButtonsContainer {
        border: 1px solid orange;

        .activeFilter{
            background-color: darksalmon;
        }
    }



}