.todolist {
border: 1px solid black;

  .error {
    border: 1px solid red;
  }

  .errorMsg {
    color: red;
  }
  .activeFilter{
    background-color: darksalmon;
  }
  .isDone{
    opacity: 0.5;
  }
}